body {
  background: #f0f0f0;
  font: 13px Sans-serif, Arial;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*

	Стили для шаблона приложния

*/
.wrapper {
  height: 100%;
  width: 100%;
  min-width: 980px;
  position: absolute;
}
.wrapper > div {
  position: absolute;
  height: 100%;
}
#users {
  width: 60%;
  background: #d7d3cc;
}
#users .list {
  width: 100%;
}
#users .list .id {
  width: 11%;
  text-align: center;
}
#users .list .fio {
  width: 42%;
}
#users .list .balance {
  width: 19%;
  text-align: right;
  padding-right: 28px;
}
#users .list .lastVisit {
  width: 28%;
  padding-right: 28px;
  text-align: right;
}
#users .list ul,
#users .list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#users .list ol {
  border-bottom: 1px solid #9a8c89;
}
#users .list ol li {
  font-size: 12px;
  color: #717171;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 7px;
  display: inline-block;
  box-sizing: border-box;
}
#users .list ol li.active,
#users .list ol li.active:hover {
  background: #c4c0ba;
  color: #000;
}
#users .list ol li:hover {
  background: #dfdcd6;
  cursor: pointer;
}
#users .list ul {
  position: absolute;
  width: 100%;
  bottom: 60px;
  top: 44px;
}
#users .list ul li {
  width: 100%;
}
#users .list ul li div div {
  padding: 15px 0;
  vertical-align: top;
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block;
}
#users .list ul li div div .i {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: block;
  float: left;
  background: #ccc;
  margin: 0 15px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
#users .list ul li .id {
  color: #656565;
}
#users .list ul li.active {
  box-shadow: 0 1px 1px rgba(154, 144, 126, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(154, 144, 126, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(154, 144, 126, 0.5);
  background: #fffb8a;
}
#users .list ul li.active:hover {
  background: #fffb8a;
}
#users .list ul li:hover {
  cursor: pointer;
  background: #e3e0db;
}
#users .toolbar {
  border-top: 1px solid #9a8c89;
  padding: 16px 28px 16px 20px;
  background: #d7d3cc;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
#users .toolbar:after {
  content: "";
  display: table;
  clear: both;
}
#users .toolbar input.filter {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.45);
  content: 'asdasd';
  padding: 7px 15px;
  background: #FFF;
  width: 157px;
  border: 0;
  float: left;
}
#users .toolbar .pagination {
  font-size: 16px;
  float: right;
}
#users .toolbar .pagination div {
  display: inline-block;
  margin-right: 50px;
}
#users .toolbar .pagination select {
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #e4e4e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%, #e4e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%, #e4e4e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%, #e4e4e4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%, #e4e4e4 100%);
  /* W3C */
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
  border: 0;
  cursor: pointer;
  padding: 2px 0;
}
#users .toolbar .pagination ul.page {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#users .toolbar .pagination ul.page li {
  display: inline-block;
}
#users .toolbar .pagination ul.page li a {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-decoration: none;
  display: block;
  color: #000;
  padding: 3px 7px;
}
#users .toolbar .pagination ul.page li a.active {
  background: #514b41;
  color: #FFF;
}
#information {
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  width: 40%;
  background: #FFF;
  left: 60%;
  padding: 70px 55px;
  box-sizing: border-box;
  font-size: 15px;
}
#information .id {
  position: absolute;
  color: #bababa;
  top: 28px;
  right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
#information .i {
  max-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
  width: 20%;
  vertical-align: top;
}
#information .cntnt {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 7%;
}
#information .cntnt table td {
  font-size: 20px;
  padding-right: 30px;
  padding-bottom: 12px;
  font-weight: bold;
}
#information .cntnt table td:first-child {
  color: #777;
  font-weight: normal;
}
#information .cntnt .lastVisit {
  font-style: italic;
  font-size: 16px;
}
#information .cntnt .caption {
  font-size: 24px;
  margin-top: 36px;
}
.hide {
  display: none;
}
.scroll {
  overflow: hidden;
  overflow-y: auto;
  /*
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #96938e;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #7b7874;
    }

    */
}
