<!DOCTYPE html>
<html>
    <head>
        <title></title>
        
        <!--[if lte IE 10]>
            <link rel="stylesheet" href="css/build.css" type="text/css" />
        <![endif]-->
        <meta charset="utf-8">
        
        <link rel="stylesheet/less" type="text/css" href="less/styles.less" />
        <script type="text/javascript">less = {env:'development'};</script>
        <script src="/js/lib/less/dist/less.min.js" type="text/javascript"></script>
    
    
		<script data-main="js/main.js?v6" src="js/lib/requirejs/require.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="users">
                <div class="list">
                    <ol>
                        <li class="id active" data-col="uid">
                            <span>ID</span>
                        </li><li class="fio" data-col="lName">
                            <span>ФИО клиента</span>
                        </li><li class="balance" data-col="price">
                            <span>Баланс, руб.</span>
                        </li><li class="lastVisit" data-col="date">
                            <span>Прошлый визит</span>
                        </li>
                    </ol>
                    <ul class="scroll users"></ul>
                    
                    
                    
                    
                </div>
                <div class="toolbar">
                    <input class="filter" type="text" name="" placeholder="Фильтр" />
                    
                    <div class="pagination">
                        <div>
                            <span>Отображать по </span>
                            <select name="" id="">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select>
                        </div>
                        <ul class="page"></ul>
                    </div>
                </div>
            </div>
            <div id="information" class="scroll">
                
            
            </div>
        </div>
              
	        
	  
         
        <script type="text/template" id="item-users">
        <% if(filter=='true' && page=='true'){ %>
                <div class="">
                    <div class="id"><%- uid %></div><div class="fio">
                        <span class="i" style="background-image:url('/i/<%- photo %>')"></span>
                        <span><%- lName %> <%- fName %> <%- mName %></span>
                    </div><div class="balance"><%- prefix_price %></div><div class="lastVisit"><%- prefix_date %></div>
                </div>
            <% } %>
        </script>
        
         
        <script type="text/template" id="info-user">

            <div class="id">ID <%- uid %></div>
            
            <div class="i" style="background-image:url('/i/<%- photo %>')"></div><!-- 
         --><div class="cntnt">
                <table>
                    <tr>
                        <td>Фамилия</td>
                        <td><%- lName %></td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td><%- fName %></td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td><%- mName %></td>
                    </tr>
                    <tr>
                        <td>Баланс</td>
                        <td><%- prefix_price %> руб.</td>
                    </tr>
                </table>
                <p class="lastVisit">Последний раз был <%- prefix_date %></p>
                
                <p class="caption">Характеристика</p>
                <%= about %>
            </div>

        </script>
        
        
		
		




    </body>
</html>