<li>
 <div class="id"><%- uid %></div><div class="fio">
  <span class="i" style="background-image:url('/i/<%- photo %>')"></span>
  <span><%- lName %> <%- fName %> <%- mName %></span>
 </div><div class="balance"><%- price %></div><div class="lastVisit"><%- date %></div>
</li>