.border-radius(@radius:10px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -ms-border-radius: @radius; 
    -o-border-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}

.gradient(@color-top:#FFF,@color-bottom:#000){
    background: @color-top; /* Old browsers */
    background: -moz-linear-gradient(top, @color-top 0%, @color-bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @color-top 0%,@color-bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom, @color-top 0%,@color-bottom 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@color-top, endColorstr=@color-bottom,GradientType=0 ); /* IE6-9 */
}


body{
    background:#f0f0f0;
    font: 13px Sans-serif, Arial;
}

@import "/less/normalize"; // Сбрасываем стили
@import "/less/template";

.hide{
    display:none;
}

.placeholder{
    color:#ccc;
}

.scroll{
    overflow:hidden;
    overflow-y: auto;
   
    /*
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #96938e;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #7b7874;
    }

    */
}