/*

	Стили для шаблона приложния

*/

.wrapper{
	height:100%;
	width:100%;
	min-width:980px;
	position: absolute;
	>div{
		position:absolute;
		height:100%;
	}
}


#users{
	width:60%;
	background:#d7d3cc;
	.list{
		width:100%;
		
		.id{
			width: 11%;
			text-align:center;
		}
		.fio{
			width: 41%;
		}
		.balance{
			width: 20%;
			text-align:right;
			padding-right:28px;
		}
		.lastVisit{
			width: 28%;
			padding-right:28px;
			text-align:right;
		}
		
		ul,ol{
			list-style:none;
			margin:0;
			padding:0;
		}
		ol{
			border-bottom:1px solid #9a8c89;
			height:43px;
			li{
				font-size:12px;
				color:#717171;
				font-weight: bold;
				text-transform: uppercase;
				text-align:center;
				padding-top:22px;
				padding-bottom:7px;
				display:inline-block;
				box-sizing: border-box;
				vertical-align:top;
				&.active,&.active:hover{
					background:#c4c0ba;
					color:#000;
				}
				&:hover{
					background:#dfdcd6;
					cursor:pointer;
				}
			}
		}
		ul{
			position: absolute;
			width: 100%;
			bottom: 60px;
			top: 44px;
			li{
				width:100%;
				div{
					div{
						padding:15px 0;
						vertical-align:top;
						font-size:16px;
						box-sizing: border-box;
						display:inline-block;
						.i{
							.border-radius(100px);
							display:block;
							float:left;
							background:#ccc;
							margin:0 15px;
							width:40px;
							height:40px;
							background-size:cover;
							background-position:center;
						}
					}
				}
				.id{
					color:#656565;
				}
				&.active{
					@active:#fffb8a;
					.box-shadow(0, 1px,1px,rgba(154,144,126,0.5));
					background: @active;
					&:hover{
						background: @active;
					}
				}
				&:hover{
					cursor:pointer;
					background: #e3e0db;
				}
			}
		}
		
	}
	.toolbar{
		border-top:1px solid #9a8c89;
		padding: 16px 28px 16px 20px;
		background:#d7d3cc;
		position: absolute;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		&:after {
		    content: "";
		    display: table;
		    clear: both;
		}
		input.filter{
			.border-radius(100px);
			@arguments: inset 0 1px 2px rgba(0,0,0,0.45);
			box-shadow: @arguments;
    		-moz-box-shadow: @arguments;
    		-webkit-box-shadow: @arguments;
			content:'asdasd';
			padding:7px 15px;
			background:#FFF;
			width:157px;
			border:0;
			float:left;
		}
		
		
		
		.pagination{
			font-size:16px;
			float:right;
			div{
				display: inline-block;
				margin-right: 50px;
			}
			select{
				.gradient(#fefefe,#e4e4e4);
				.border-radius(3px);
				.box-shadow(0,1px,1px,rgba(0,0,0,0.27));
				border:0;
				cursor:pointer;
  				padding: 2px 0;
			}
			ul.page{
				list-style:none;
				margin:0;
				padding:0;
				display: inline-block;
				li{
					display:inline-block;
					a{
						.border-radius(100px);
						text-decoration:none;
						display:block;
						color:#000;
						padding:3px 7px;
						&.active{
							background:#514b41;
							color:#FFF;
						}
					}
				}
			}
		}
	}
	
}

#information{
	.box-shadow(-2px, 0, 3px, rgba(0,0,0,0.2));
	width: 40%;
	background: #FFF;
	left: 60%;
	padding:70px 55px;
	box-sizing: border-box;
	font-size:15px;
	.id{
		position:absolute;
		color:#bababa;
		top:28px;
		right:20px;
		font-size:16px;
		text-transform:uppercase;
		font-weight:bold;
	}
	.i{
		max-width:200px;
		background-size:contain;
		background-repeat:no-repeat;
		display:inline-block;
		height:100%;
		width:20%;
		vertical-align:top;
	}
	.cntnt{
		width:80%;
		display:inline-block;
		vertical-align:top;  
		box-sizing: border-box;
  		padding-left: 7%;
		table{
			td{
				font-size:20px;  
				padding-right: 30px;
  				padding-bottom: 12px;
  				font-weight:bold;
			}
			td:first-child{
				color:#777;
  				font-weight:normal;
			}
		}
		.lastVisit{
			font-style:italic;
			font-size:16px;
		}
		.caption{
			font-size:24px;
			margin-top:36px;
		}
	}
	
	
	
}